@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height:100vh;
    background: #081b29;
    color: #ededed;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.image-section img {
    width: 50%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;

}



.home-content {
    max-width: 600px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;


}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-container h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
}

.home-container .btn-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 345px;
    
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

i{
    width: 50px;
    height: 50px;
}



.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #00abf0;
}


.img-boxx img {
    width: 900px;
    height: 800px;
    object-fit: cover;
    border-radius: 15px;
}

.footer {
    padding-top: 50px;
    height: 30vh;
    background-color: #111;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 1px;
    background-color: white;
    margin: 1px;
    border-radius: 20px;
}

.socialicons a i {
    font-size: 3em;
    color: black;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.footernav {
    margin: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerbottom {
    display: flex;
    align-items: center;
    justify-content: center;
}